@import '../tools.scss';


.inMain {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 9.5rem;
    align-items: center;

    .progress {
        width: 100%;
        display: flex;
        gap: 1.08rem;
        align-items: center;

        .prog {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            width: fit-content;

            .view {
                display: flex;
                gap: 1.8rem;
                align-items: center;
                margin-bottom: 2.3rem;

                .lineV {
                    width: 13.72513rem;
                    height: 0.26369rem;
                    background: #008C76;
                }
            }

            h1 {
                font-size: 1.75781rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            .status {
                color: #008C76;
                font-size: 1.31838rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
}