@import '../tools.scss';


.mainmain {
    width: 100%;
    background-color: $dark-color;
    // height: 5rem;
    border-radius: 1.25rem;
    display: flex;
    flex-direction: column;
    border: 0.065rem solid $nav-color;
    background-image: url('../assets/bg-costumer.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;

    .cardProfile {
        width: 100%;
        padding: 1.06rem 0 2rem 1.37rem;
        display: flex;
        gap: 2.58rem;
        align-items: center;
        justify-content: center;
        position: relative;

        .settingsP {
            cursor: pointer;
            position: absolute;
            right: 1rem;
            top: 1rem;
            // transform: translate(-1rem, 1rem);
            transition: all 500ms ease-in-out;
            // transform-origin: center;

            // &:hover{
            //     rotate: 180deg;
            // }
            
        }
        .listSession{
            position: absolute;
            display: flex;
            flex-direction: column;
            // gap: 0.8rem;
            width: 8rem;
            height: 100px;
            background-color: $dark-color;
            top: 2.7rem;
            right: 1rem;
            border-radius: 1rem;
            border: 0.065rem solid $nav-color;

        }

        .profilePhoto {
            width: 14.4375rem;
            height: 14.4375rem;
            border-radius: 9.125rem;
        }

        .infoText {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            h1 {
                color: $dark-color;
                font-size: 2.5rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }

            h3 {
                color: $dark-color;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .phoneNumber,
            .emailP {
                display: flex;
                align-items: center;
                gap: 0.69rem;
                margin-top: 0.4rem;
                color: $dark-color;
            }
        }
    }

}