@import './tools.scss';


#app {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    .underNav{
        display: flex;
        width: 100vw;
        flex-grow: 1;
        .content{
            flex-grow: 1;

        }
    }
}
