* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    color: #434343;
    
}


body {
    background-color: #FFFFFF;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

a {
    all: unset;
}