@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-color : #7e2f1d;
$primary-color-hover : rgba(180, 51, 22, 0.30);
$primary-color-hover2 : rgba(180, 51, 22, 0.70);
$second-color : #434343;
$dark-color : #F1F1F1;
$dark2-color : #eeeeee;
$back-color : #FFFFFF;
$nav-color : #BD391B;


::selection {
  background-color: $nav-color;
  /* Change to the background color you prefer */
  color: $back-color;
  /* Change to the text color you prefer */
}

p {
  // color: #BABABA;
  font-family: 'Inter';
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h6 {
  // color: #BABABA;
  font-family: 'Inter';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h3 {
  // color: #BABABA;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.label {
  color: $second-color;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.inputCommande {
  max-width: 100%;
  min-width: 20rem;
  width: 48%;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  .inputText {
    width: 100%;
    height: 100%;
    height: 4rem;
    background-color: $dark-color;
    padding-left: 1.5rem;
    border-radius: 1.5rem;
    display: flex;
    padding-right: 1rem;
    gap: 0.5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    input[type=text],
    input[type=email],
    input[type=number],
    input[type=date],
    input[type=password],
    input[type=textarea] {
      all: none;
      color: $second-color;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 100%;
      height: 100%;
      background-color: transparent;
      outline: none;
      border: none;

      &::placeholder {
        color: inherit;
        opacity: 0.5;
      }
    }

  }

  .textArea {
    display: flex;
    align-items: initial;
    height: 10rem;
    justify-content: initial;

    textarea {
      width: 100%;
      height: 100%;
      color: $second-color;
      font-size: 1.4rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 100%;
      height: 100%;
      background-color: transparent;
      outline: none;
      border: none;
      padding-top: 1rem;
      resize: none;
    }
  }
}

// @function toRem($value) {
//   // $remValue: ($value / 16) + rem; 
//   $remValue: math.div($value, 16);
//   $return-v : $remValue + rem;
//   @return $return-v;
// }


.achatArr {
  width: 100%;
  // border-radius: 1.25rem;
  border-top: 0.06rem solid $nav-color;
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .achatZ {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;

    .achatSD {
      display: flex;
      flex-direction: row;
      padding-left: 1.5rem;

    }
  }

}

.checkboxs {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 9.5rem;

  input[type=checkbox] {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.06rem solid $primary-color;
    border-radius: 0.3rem;
    cursor: pointer;
    appearance: none;
    transition: background-color 700ms ease-in-out;

    &:hover {
      background-color: $dark-color;
    }

    &:checked {
      background-color: $dark-color;
      background-image: url('../assets/checkbox.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70%;

    }
  }

  h3 {
    color: rgba(186, 186, 186, 0.70);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
}