@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$primary-color : #7e2f1d;
$primary-color-hover : #d4341031;
$primary-color-hover2 : #ad3015;
$second-color : #BABABA;
$dark-color : #2A2D3E;
$back-color : #212332;

p {
  color: #BABABA;
  font-family: 'Inter';
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h6 {
  color: #BABABA;
  font-family: 'Inter';
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

h3 {
  color: #BABABA;
  font-family: Inter;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.label {
  color: $second-color;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

// @function toRem($value) {
//   // $remValue: ($value / 16) + rem; 
//   $remValue: math.div($value, 16);
//   $return-v : $remValue + rem;
//   @return $return-v;
// }