@import '../tools.scss';



.Sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $dark-color;
    // padding-left: 0.7rem;
    // padding-top: 2rem;
    padding-bottom: 1.94rem;
    justify-content: space-between;
    box-shadow:  8px 0px 44px -16px rgba(0, 0, 0, 0.25);

    .top {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 6rem;


        .burger {
            // margin-left: 1.22rem;
            width: 3rem;
            height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            cursor: pointer;
            transition: all 500ms ease-in-out;

            &:hover {
                opacity: 0.4;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            text-decoration: none;
            width: 100%;
            padding-right: 0.5rem;
            padding-left: 0.7rem;
            padding-top: 2rem;

            a {
                text-decoration: none;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: flex;
                align-items: center;
                gap: 0.72rem;
                cursor: pointer;
                width: 100%;
                height: 3rem;
                border-radius: 0.5rem;
                transition: all 500ms ease-in-out;

                svg path {
                    transition: all 500ms ease-in-out;
                }

                // background: #A07632;
                &:hover {
                    background-color: $primary-color-hover;
                    color: $primary-color-hover2;

                    svg path {
                        fill: $primary-color-hover2;
                        stroke: none;
                    }
                }
            }
        }
    }
}


.nav-icon-act {
    background-color: $primary-color-hover;
    color: $primary-color;

    svg path {
        fill: $primary-color;
        stroke: none;
    }
}

.logout {
    color: $primary-color;
}


.navCon {
    background-color: $nav-color;
    height: 5.95rem;
    padding-left: 0.7rem;
    padding-top: 1.5rem;
}